@{
    ViewData["Title"] = "Content";
}

<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>

<html>
<head>
    <title>Reading Data from a File</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>   
</head>
<body>
   
     <script src="~/js/File.js"></script>     
</body>
</html>



